@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,600;1,400&display=swap');

:root
{
  --background-colour-fst: #20201b;
  --background-colour-snd: #53554b;

  --text-colour-fst: #c7d3cd;
  --text-colour-snd: #9aa49a;
  --text-colour-auxiliary: #ff7e50;
}

*
{
  margin: 0px;
  padding: 0px;
}

html
{
  scroll-behavior: smooth;
}

body
{
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
}

